<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<table>
    <tr>
    <th scope="col">Вопрос</th>
    <th scope="col">Да/Нет </th>
    </tr>
    <tr>
        <form method="get" th:action="@{/diagnosys}">
            <td th:utext="${text}"></td>
            <td>
                <input hidden name="initial" th:value="no">
                <input hidden name="token" th:value="${tokenId}">
                <input type="checkbox" name="yes" >
            </td>

            <td>
                <button type="submit" >Кнопка</button>
            </td>
        </form>
    </tr>




    </tr>
</table>
</body>
</html>