<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<table>
    <tr>
    <th scope="col">Вопрос</th>
    <th scope="col">Да/Нет </th>
    <td th:utext="${text}"></td>
    </tr>
    <tr>
        <form method="get" th:action="@{/diagnosys}">

            <td>
                <input hidden name="initial" th:value="no">
                <input hidden name="sex" th:value="${sexMem}">
                <input hidden name="age" th:value="${ageMem}">
                <input hidden name="token" th:value="${tokenId}">
                <input hidden name="symptom" th:value="${id}">
                <td th:utext="${name}"></td>
            <td> <input type="checkbox" name="checkbox"  th:value="${id}" ></td>
            </td>

            <td>
                <button type="submit" >Кнопка</button>
            </td>
        </form>
    </tr>




    </tr>
</table>
</body>
</html>